.selected-odd {
  background-color: gray;
  color: white; /* Optional: Change text color for better contrast */
}


.table1 {
    background-color: white;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
    margin: 0 auto; /* Center the table horizontally */
    padding: 20px; /* Add padding around the table */
  
    /* Styling for the table */
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .table1 {
      overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
    }
  
    th, td {
      padding: 8px;
      font-size: 14px; /* Decrease font size on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    th, td {
      padding: 6px;
      font-size: 12px; /* Further decrease font size on even smaller screens */
    }
  }
  